<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>

    <h2>Create a User</h2>
    <form action="/users/new" method="post">
        <label for="firstname">Firstname</label>
        <br>
        <input type="text" id="firstname" name="firstname">
        <br>

        <label for="lastname">Lastname</label>
        <br>
        <input type="text" id="lastname" name="lastname">
        <br>
        <label for="imageurl">ImageUrl</label>
        <br>
        <input type="text" id="imageurl" name="imageurl">
        
        <button>Add</button>
    </form>
</body>
</html>